<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is the title of the webpage!</title>
</head>
<body>
    <h1>This is home page</h1>
    <p>
        Homepage this is an example paragraph. Anything in the <strong>body</strong> tag will 
        appear on the page, just like this <strong>p</strong> tag and its contents
    </p>
</body>
</html>