<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/bookadded" method="POST">
        <label for="bookName">Book name:</label>
        <input type="text" id="bookName" name="bookName" required>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price">

        <button type="submit">Log In</button>
    </form>
</body>
</html>