<!DOCTYPE html>
<html>
<head>
<title>List webpage!</title>
</head>
<body>
<h1>Our Books</h1>
<h3><%= topMessage %></h3>
<ul>
<% availableBooks.forEach(function(book){ %>
<li><%= book.name %>, £<%= book.price %></li>
<% }) %>
</ul>
</bodyk